footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(199, 149, 149);
    color: white;
    text-align: center;
    
}
div.nav.navbar{
    color: silver;
    background-color: rgb(192, 154, 154);
}
.logo{
    width: 70%;
    padding-left: 35%;
}
.search_forme{
 
    padding-left: 10%;
}

.searching_emp{
    width: 70%;
    padding-left: 10%;
}
.search_forme.table{
    width: 100%;
}